parameters:
    level: 8
    paths:
        - src
        - tests
    
    excludePaths:
        - vendor
    
    ignoreErrors:
        -
            message: '#^Unsafe usage of new static\(\)\.$#'
            path: src/Model

